extends ../layouts/main-layout
block styles
   link(rel="stylesheet", href="/css/form.css")
block content
   main
      .container
         .row.justify-content-center
            .col.form-col
               .logoImg
                  img(src="/assets/images/BigLogo.png", alt="logo")

               form(class="form-frame" action="/login" method="POST")

                  div.form-group
                     label(for="email") Email
                     input(type="email" name="email" id="email" class="form-control")

                  div.form-group
                     label(for="password") Password
                     input(type="text" name="password" id="password" class="form-control")

                  button.mt-3(class="btn btn-primary" type="submit") Login

                  input(type="hidden", name="_csrf", value= csrfToken)
            