extends ../layouts/main-layout
block styles
   link(rel="stylesheet", href="/css/product.css")
block content
   main
      .container
         .row.justify-content-center
            if products.length > 0
               each product in products
                  .col.d-flex.justify-content-center
                     .card(style='width: 18rem')
                        div.prodImg(style=`background: url(${product.imgUrl})`)
                        .card-body
                           h3.card-title #{product.title}
                           p.card-text #{product.price + '$'}
                           div.btnBox
                              a.btn.btn-success(href='#') Edit
                              a.btn.btn-danger(href='#') Delete
            else
               .col
                  h1 No products
    
            