@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

body{
   font-family: 'Roboto', sans-serif;
}
.row{
   margin-right: 0 !important;
   margin-left: 0 !important;
}
nav.navbar-main{
   background-color: #F4F7F6;
   min-height: 75px;
}
li.nav-item{
   margin-right: 16px;
}
#navbarNav a.nav-link{
   color: #2b2b2b !important;
   font-size: 17px
}
.active{
   text-decoration: underline !important
}
main{
   padding: 50px 0;
}
.row{
   max-width: 100% !important;
}