@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

body{
   font-family: 'Roboto', sans-serif;
}

.container{
   width: 1200px;
   margin: 0 auto;
   height: 100%
}
.navbar{
   height: 80px;
   background-color: #F4F7F6;
   /* font-weight: bold */
}
.nav-list{
   display: flex;
   align-items: center;
   height: 100%;
   list-style: none;
   padding: 0;
   margin: 0;
}
.nav-list li{
   margin: 0 20px;
}
.nav-list li a{
   text-decoration: none;
   color: #2b2b2b;
}
.active{
   text-decoration: underline !important;
}