extends ../layouts/main-layout
block styles
   link(rel="stylesheet", href="/css/product.css")
block content
   main
      .container
         .row.justify-content-center
            if productsItems.length > 0
               each product in productsItems
                  .col.d-flex.justify-content-center
                     .card(style='width: 18rem')
                        div.prodImg(style=`background: url(${product.imgUrl})`)
                        .card-body
                           h3.card-title #{product.title}
                           p.card-text #{product.price + '$'}
                           div.btnBox
                              a.btn.btn-outline-info(href=`/product/${product._id}`) Details
                              form(action="/cart", method="post")
                                 button.btn.btn-success(type='submit') Add to cart
                                 input(type="hidden", name="productId", value= product._id)
                                 input(type="hidden", name="_csrf", value= csrfToken)
            else
               h1.mt-5 No products
    
            